<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand brand-logo" href="/" (click)="navigateToHome($event)">
    <i class="bi bi-book me-2"></i>
    <span>Info könyvek.hu</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <!-- Bal oldali menüelemek -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-list-ul me-1"></i>Kategóriák
        </a>
        <div class="dropdown-menu" aria-labelledby="categoryDropdown">
          <a class="dropdown-item" (click)="refreshWithCategory(null)" href="/">
            <i class="bi bi-grid-3x3-gap me-2"></i>Összes
          </a>
          <div class="dropdown-divider"></div>
          <a *ngFor="let category of (categories | async)" class="dropdown-item" (click)="refreshWithCategory(category.id)" href="/">
            <i class="bi bi-tag me-2"></i>{{category.name}}
          </a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="isUserAdmin()">
        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-shield-lock me-1"></i>Admin menü
        </a>
        <div class="dropdown-menu" aria-labelledby="adminDropdown">
          <a class="dropdown-item" href="/newItem">
            <i class="bi bi-plus-circle me-2"></i>Új könyv/kategória
          </a>
          <a class="dropdown-item" href="/orders">
            <i class="bi bi-box-seam me-2"></i>Rendelések
          </a>
          <a class="dropdown-item" href="/archives">
            <i class="bi bi-archive me-2"></i>Archiválás
          </a>
        </div>
      </li>
    </ul>

    <!-- Keresősáv komponens -->
    <div class="mx-auto my-2 my-lg-0">
      <app-search-bar
        (standardSearch)="onStandardSearch($event)"
        (aiTextSearch)="onAITextSearch($event)"
        (aiImageSearch)="onAIImageSearch($event)">
      </app-search-bar>
    </div>

    <!-- Jobb oldali menüelemek -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link cart-link" [href]="'/cart'" (click)="navigateToCart()" title="Kosár">
          <i class="bi bi-cart3"></i>
          <span class="cart-text d-none d-lg-inline ms-1">Kosár</span>
        </a>
      </li>
      <li class="nav-item">
        <ng-container *ngIf="!isUserSignedIn(); else elseBlock">
          <a class="nav-link login-link" href="/signin" (click)="navigateToSignIn()">
            <i class="bi bi-person-circle me-1"></i>Belépés
          </a>
        </ng-container>
        <ng-template #elseBlock>
          <app-logout></app-logout>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>

